/* ---- News Posts ---- */
.posts-listing{
  padding: 60px 0;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dfdfdf;
}

.blog-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-posts li.post {
  width: 30%;
  margin-bottom: 20px;
}

.blog-posts li.post img { 
  height: 200px; 
  width: auto;
  margin-bottom: 20px;
}